@import url('https://fonts.googleapis.com/css2?family=Brawler&family=Oxygen&display=swap');
$dark_color: #5D0000;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  background-color: #FAEBD7;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}



// Navigation styles
.nav{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $dark_color;
  padding: 10px;
  border-bottom: 1px solid $dark_color;
  a::after{
    content: '';
    display: block;
    width: 0px;
    transition: 350ms ease-in width;
  }
  a:hover::after {
    width: 90%;
    height: 2px;
    background-color: $dark_color;
  }
}
.logo{
  font-family: 'Brawler', serif;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.menu{
  display: none;
}
.icon{
  display: block;
  font-size: 30px;
}
.responsive{
  position: absolute;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 150px;
  width: 100%;
  margin-left: -10px;
  padding: 10px;
  background-color: #FAEBD7;
  border: 1px solid $dark_color;
  z-index: 3;
}

@media screen and (min-width: 600px) {
  .menu{
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-evenly;
  }
  .reponsive{
    display: none;
  }
  .icon{
    display: none;
  }
}
