@import url('https://fonts.googleapis.com/css2?family=Brawler&family=Oxygen&display=swap');
$dark_color: #5D0000;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  background-color: #FAEBD7;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}



// Navigation styles
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $dark_color;
  padding: 10px;
}
.logo{
  font-family: 'Brawler', serif;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 5px $dark_color;
}
.menu{
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: space-evenly;
}